html, body {
    margin: 0;
}
.container {
    padding: 12px 80px;
}
.links {
    cursor: pointer;
}

.header-container {
    background-color: #ebebeb;
    padding: 20px 80px;
    text-align: right;
}
.header-container > span {
    margin-left: 20px;
    font-style: 14px;
}
.second-header {
 display: flex;
 justify-content: space-between;
}
.thrid-header{
    background-color: black;
    color:white;
    padding: 20px 160px;
    display: flex;
    justify-content: space-between;
}

.banner {
    position: relative;
}
.banner > img {
width: 100%;
height: auto;
}

.banner > .overlay {

background-color: black;
color:white;
/* opacity: 0.2; */
position: absolute;
bottom: 6px;
left:12px;
padding: 20px;
max-width: 400px;
}

.banner > .overlay > h3{
 font-style: 32px;
 font-weight: 400;
}
.banner > .overlay > p{
 font-size: 18px;
}
.banner > .overlay > button{
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  border:none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.banner >.overlay > button:hover {
    background-color: #0056b3;
}
.blocks {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.block-item {
    flex: 1 1 30%;
    width: 388px;
    height: 437px;
}
.home-tabs_header {
width: 1185.09px;
height: 66px;
}
.home-tabs_inner {
    display: flex;
    justify-content: space-between;
    
}
.home-tabs_content {
flex: 1 1 33%;
}
.home-tabs_inner button{
 background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  border:none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.blocks > .block-item > a > span {
    color: #0f4beb;
    font-size: large;
    font: 500;
}
.blocks > .block-item > img {
    width: 388px;
    height: 194px;
}
.card_h {
    display: flex;
    justify-content: center;
}
.card {
    width: 354px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
}
.promo > .promo_box {
    width: 388px;
    height: 461px;
}
.promo > .promo_box > span {
    color: #0f4beb;
    font-size: large;
    font-weight: 500;
}
.promo {
    display: flex;
    justify-content: space-between;
}
.promo > .promo_box > img {
    width: 388px;
    height: 194px;
}
.footer-h {
    background-color: black;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.footer-h > h3 {
    color: #b2b2b2;
    padding-left: 38px;
}
.footer-h > .footer > ul > li{
    color: #b2b2b2;
    list-style-type: none;
    padding-top: 8px;
}
.footer-h > p {
    display: block;
    color: #b2b2b2 ;
    font-size: 12px;
    padding: 15px;
    margin-left: 70px;
}